body {
    background-color: #fff;
    color: #1c2338;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

html,
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 872px) {
    .container {
        max-width: 840px;
    }
}
@media (min-width: 873px) {
    .container {
        max-width: 841px;
    }
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}
